.container {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : center;
    align-content  : center;
}

form {
    width: 100vw;
}

.textbox,
.btn {
    font-size: 1.5em;
}

.textbox {
    width: 90vw;
}

.btn {
    width: 45vw;
}

.hidden {
    display: none;
}